code.hl.lean, pre.hl.lean, span.hl.lean {
  font-size: 90%;
}

.hl.lean.block {
  background-color: #fff3ee;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin: 0.5em 0em;
}

.hl.lean.inline {
  background-color: #fff3ee;
  padding: 0.2em;
}

.hl.lean .inter-text {
  color: grey;
}

.hl.lean .token.typed {
  color: #c30000
}

:root {
  --verso-code-keyword-color: #aa1233;
  --verso-code-const-color: #232323;
  --verso-code-var-color: #a73e06;
  --verso-code-color: #691e00
}
