<meta charset="UTF-8"/>

{% if page.useverso %}
<!-- Verso things -->
<script>var __versoSiteRoot = "{{ '/' | absolute_url }}";</script>
<script src="https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.min.js"></script>
{% include_relative index-head.html %}

<link rel="stylesheet" href="{{ '-verso-css/highlighting.css' | relative_url }}">
<link rel="stylesheet" href="{{ '-verso-css/footnotes.css' | relative_url }}">
<script src="{{ '-verso-js/footnotes.js' | relative_url }}"></script>
<!-- End verso things -->
{% endif %}
