on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  make-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Cleanup to free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false

      - name: Checkout project
        uses: actions/checkout@v6

      - name: Remove annotations
        run: |
          find . -type f -name "*.lean" -print0 | while IFS= read -r -d $'\0' file; do
              sed -i '/^-- ANCHOR:/d;/^-- ANCHOR_END:/d' "$file"
          done
          echo "Annotation removal complete."

      - name: Push clean release
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add Lean/Polychromatic
          git rm --cached -r Verso site
          git commit -m "Deploy: Sync clean code from main branch" --allow-empty
          git push -f origin HEAD:refs/heads/release
        if: github.ref == 'refs/heads/main'

      - name: Build Lean files
        uses: leanprover/lean-action@v1.3.0
        with:
          mk_all-check: true
          lake-package-directory: Lean

      - name: Cache Mathlib Docs
        uses: actions/cache@v4
        with:
          path: |
            Lean/docbuild/.lake/build/doc
          key: Docs-${{ hashFiles('Lean/lake-manifest.json') }}
        if: github.ref == 'refs/heads/main'

      - name: Build Documentation
        run: |
          cd Lean
          ../scripts/build_docs.sh
          sudo chown -R runner ../site
          cp -r docbuild/.lake/build/doc ../site/docs
        if: github.ref == 'refs/heads/main'

      - name: Upload docs
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: site/docs
          overwrite: true
        if: github.ref == 'refs/heads/main'

  run-verso:
    runs-on: ubuntu-latest

    steps:
      - name: Cleanup to free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false

      - name: Checkout project
        uses: actions/checkout@v6

      - name: Build Lean files
        uses: leanprover/lean-action@v1.3.0
        with:
          mk_all-check: true
          lake-package-directory: Lean
          use-github-cache: false

      - name: Highlight Lean files
        working-directory: Lean
        run: lake build :highlighted

      - name: Upload Verso artifacts
        uses : actions/upload-artifact@v5
        with:
          name: verso-artifacts
          path: Lean/.lake/build/highlighted
          overwrite: true

      - name: Run Verso
        working-directory: Verso
        run: lake exe docs

      - name: Upload Verso site
        uses: actions/upload-artifact@v5
        with:
          name: verso-site
          path: site
          overwrite: true
        if: github.ref == 'refs/heads/main'

  assemble:
    runs-on: ubuntu-latest
    needs: [make-docs, run-verso]
    permissions:
      contents: read
      pages: write

    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Download Verso site
        uses: actions/download-artifact@v6
        with:
          name: verso-site
          path: site
        if: github.ref == 'refs/heads/main'

      - name: Download docs
        uses: actions/download-artifact@v6
        with:
          name: docs
          path: site/docs
        if: github.ref == 'refs/heads/main'

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
        if: github.ref == 'refs/heads/main'

      - name: Setup Ruby
        # https://github.com/ruby/setup-ruby/releases/tag/v1.207.0
        uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b
        with:
          ruby-version: '3.2' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
          working-directory: site
        if: github.ref == 'refs/heads/main'

      - name: Build Jekyll
        run: bundle exec jekyll build --destination ../_site --baseurl "${{ steps.pages.outputs.base_path }}"
        working-directory: site
        env:
          JEKYLL_ENV: production
        if: github.ref == 'refs/heads/main'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        if: github.ref == 'refs/heads/main'

  deploy:
    runs-on: ubuntu-latest
    needs: assemble
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
